<nb-card>
    <nb-card-header>External transaction</nb-card-header>
    <nb-card-body>
        <form [formGroup]="transactionForm" (submit)="submit()">
            <div class="form-group row">
                <label for="transactionType" class="label col-sm-3 col-form-label">Type</label>
                <div class="col-sm-9">
                    <nb-select placeholder="Transaction type" formControlName="transType" id="transactionType"
                        fullWidth>
                        <nb-option *ngFor="let type of transTypes" [value]="type.value">{{type.description}}</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="form-group row">
                <label for="OutAccountNumber" class="label col-sm-3 col-form-label">Account</label>
                <div class="col-sm-9">
                    <nb-select placeholder="Account" formControlName="accountId" id="OutAccountNumber"
                        fullWidth>
                        <nb-option *ngFor="let num of accountsNumber" [value]="num">{{num}}</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="form-group row">
                <label for="date" class="label col-sm-3 col-form-label">Transaction Date</label>
                <div class="col-sm-9">
                    <input nbInput fullWidth placeholder="Date" [nbDatepicker]="picker" formControlName="date"
                        id="date">
                    <nb-datepicker #picker [max]="maxValue"></nb-datepicker>
                </div>
            </div>
            <div class="form-group row">
                <label for="transAmount" class="label col-sm-3 col-form-label">Amount</label>
                <div class="col-sm-9">
                    <input formControlName="amount" type="number" nbInput fullWidth id="transAmount"
                        placeholder="Transaction amount">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary">Submit</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>